<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 3.别名设置 -->
    <typeAliases>
        <typeAlias alias="User" type="com.gameshop.entity.User"/>
        <typeAlias alias="BuyCar" type="com.gameshop.entity.BuyCar"/>
        <typeAlias alias="Game" type="com.gameshop.entity.Game"/>
        <typeAlias alias="Indent" type="com.gameshop.entity.Indent"/>
        <typeAlias alias="Picture" type="com.gameshop.entity.Picture"/>
        <typeAlias type="com.gameshop.entity.Score" alias="Score"/>
        <typeAlias type="com.gameshop.entity.Page" alias="Page"/>
    </typeAliases>
<!--    <mappers>-->
<!--        <mapper resource="classpath*:mapperXml/*.xml"/>-->
<!--    </mappers>-->
</configuration>