<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IScoreDao接口方法提供sql语句配置 -->
<mapper namespace="com.example.newgameshop.mapper.ScoreMapper">

    <resultMap id="ScoreRM" type="com.example.newgameshop.entity.Score">
        <id property="scoreId" column="score_id"/>
        <id property="gameId" column="game_id"/>
        <id property="gameStore" column="game_store"/>
        <id property="userId" column="user_id"/>
    </resultMap>

    <select id="findScoreGame" resultMap="ScoreRM"  resultType="Score">
        select * from score where game_id=#{gameId}
    </select>
    <select id="findScoreOnly" resultMap="ScoreRM"  resultType="Score">
        select * from score where user_id=#{param1} and game_id=#{param2}
    </select>
    <insert id="addScore" parameterType="Score" useGeneratedKeys="true" keyProperty="scoreId">
        insert into score(game_id,game_store,user_id) value(#{gameId},#{gameStore},#{userId})
    </insert>

    <update id="updateScore" >
        update score set game_store=#{gameStore} where score_id=#{scoreId}
    </update>
    <update id="deleteScoreGame" >
        delete from score where game_id=#{gameId}
    </update>
    <update id="deleteScoreId" >
        delete from score where score_id=#{scoreId}
    </update>
    <update id="deleteGameId" >
        delete from score where game_id=#{gameId}
    </update>

</mapper>